@font-face {
    font-family: RobotoMono;
    src:url(FontsFolder/RobotoMono.ttf);
}

h1, p, button{
    font-family: RobotoMono;
}

div {
    overflow-x: hidden;
    letter-spacing: 0.035cm;
}
div section{
    display: block;
    text-align: center;
}
div ul {
    margin: 0;
    padding: 0;
    list-style: none;   
}
div li {
    display: inline-block;
    margin: 20px;
    padding-top: 20px;
    position: relative;
}
div a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    font-family: RobotoMono;
    font-size: 15px;
}